.footer {
    background-color: $color-secondary;
    grid-column: full-start / full-end;
    padding: 8rem;
}

.footer-nav {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-items: center;

    &__item {
        width: 15rem;
    }


    &__link:link,
    &__link:visited {
        font-size: 1.4rem;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        padding: 1.5rem;
        display: block;
        transition: all .2s;
    }

    &__link:hover,
    &__link:active {
        background-color: rgba(#fff, .05);
        transform: translateY(-3px);
    } 
}

.copyright {
    font-size: 1.6rem;
    color: $color-grey-light-2;
    margin-top: 6rem;
    text-align: center;

    a {color: $color-grey-light-2;}
    br {margin-bottom: 2rem;}
}